/* Mobile Version */
@media screen and (max-width: 670px) {
.footer {
  background-color: rgb(64, 84, 64); 
  color: #f4f4f4; 
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-section h3 {
  border-bottom: 2px solid #f4f4f4;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section li {
  margin-bottom: 0.5rem;
}
}

/* Web Version */
@media screen and (width > 670px) {
 .footer {
  background-color: rgb(64, 84, 64);
  color: #f4f4f4;
  padding: 3rem 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  min-width: 200px;
  margin: 1rem;
}

.footer-section h3 {
  border-bottom: 2px solid #f4f4f4;
  padding-bottom: 0.5rem;
  font-size: 1.3rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 1rem;
}

.footer-section li {
  margin: 0.5rem;
}

.footer-section li a {
  color: #f4f4f4;
  text-decoration: none;
  transition: text-decoration 0.2s;
}

.footer-section li a:hover {
  text-decoration: underline;
}


}