.product-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 16px;
    padding: 1rem;
    box-sizing: border-box;
}
 
@media screen and (min-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.product-card {
  background-color: #f4f4f4;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.product-name {
  background-color: rgb(64, 84, 64);
  color: white;
  font-size: 1.4rem;
  padding: 1vh;
  margin: 0;
  font-family: t;
}

.product-image {
  width: 100%;
  height: auto;
  display: block;
}

.product-description {
  padding: 1vh;
  font-size: 0.95rem;
}

.product-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(64, 84, 64);
  color: white;
  padding: 1vh;
}

.product-price span {
  font-weight: bold;
}

.add-to-cart {
  background: rgb(64, 84, 64);
  border: none;
  cursor: pointer;
}

.cart-icon {
  width: 1.5rem;
  height: auto;
  background-color: rgb(64, 84, 64);
  cursor: pointer;
}